.inputField { /* stylelint-ignore */
  border: 1px solid #ccc;
  outline: none;
  padding: .4rem .5rem;
}

/** Reset the ugly chrome yellow autofill color to white */
.inputField:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
