:root {
  --button-color: #fff;
  --field-border: #ccc;
}

.button {
  padding: .4rem .8rem;
  border: 1px solid var(--field-border);
  background-color: var(--button-color);
  cursor: pointer;
  margin: .5rem 0;
  font-weight: lighter;
}

.button:hover {
  background-color: color(var(--button-color) blackness(1%));
}
