:root {
  --button-color: #ebebeb;
  --field-border: #ccc;
}

.button {
  padding: .25rem .5rem;
  border: 1px solid var(--field-border);
  background-color: var(--button-color);
  cursor: pointer;
}

.button:hover {
  background-color: color(var(--button-color) blackness(25%));
}
