.formElement { /* stylelint-ignore */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: .5rem 0;
}

.label { /* stylelint-ignore */
}

.input { /* stylelint-ignore */
  font-weight: lighter;
}

.helpText {
  font-size: .75rem;
  color: #666;
}

.error .input {
  border-color: #f03c3c;
}

.error .label {
  color: #f03c3c;
}

.errorText {
  font-size: .9rem;
  color: #f03c3c;
}
