.formElement { /* stylelint-ignore */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.label { /* stylelint-ignore */
  font-weight: bold;
}

.input { /* stylelint-ignore */
}

.helpText {
  font-size: .75rem;
  color: #666;
}
